.kuromc-bg {
  background-image: url(./assets/image/background.jpg);
  background-size: cover;
}

.kuromc-help {
  width: 100%;
  height: 780px;
}

.kuromc-text-title {
  color: #c9ac67;
}

.kuromc-text {
  color: #d3cbb8;
}
